{% extends "base.html" %}
{% import "_content_widgets.html" as content_widget %}
{% block title %}{{ home_title }} · Unstacked{% endblock %}
{% block content %}
<div class="screen-heading dashboard-header">
  <div></div>
  {% if can_write_home %}<a class="button" href="/home/edit">Edit</a>{% endif %}
</div>
{% if home_widget_errors and can_write_home %}<p class="error-message">Some widgets could not be displayed: {{ home_widget_errors|join('; ') }}</p>{% endif %}
<article class="page-body home-body">{{ home_body | safe }}</article>
{{ content_widget.render(home_widgets, is_admin, csrf_token, '/tree') }}
{% endblock %}
